{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline"
    }]
  }
}
