.Python
.DS_Store
.idea/
.publish/
.projectile
*.sublime-project
*.sublime-workspace
*.py[cod]
__pycache__/
bower_components/*
node_modules/*
coverage/
# A browser distribution is built in `dist` when pushing to npm.
dist/
# Code transpiled to ES5 is built in `lib` when pushing to npm.
lib/