sudo:
  false

language:
  node_js

node_js:
  - 4
  - 6

script:
  - npm test

deploy:
  provider: npm
  skip_cleanup: true
  on:
    tags: true
  api_key:
    secure: CE+7STbCUeRPCYO9I+KFlqMh3drzGYZhaM92gdNBqC8ViPCnbN3tBCU4GgqtIOZizwrPy9OexpSK/0Anc58DXiY72CpQlw57CN3bMJZnOxxBV6d0nM53NW7BxkkOqYTKQztuPrn0V1fXrV6suFVy/eaWe537d7ttuBKe/6P00Xto8+kjADuMoTFMKlgkh373sssONPAq5w2zH/IcPgLwNHh2vqHcIp3sqElWvgf2gkMQS0NHSUPjNHK6kOkqqD0z/6RknUtJ243LdpqXOyywSrkWAUrn6c9Qpuwy9rVcHfOlK+pV2PUFApQTFJCT8WUptsNm6TPn+StKKydbNOsZNAGzmB+WtHHaw7MqClc8lY4IZ6XMuJZr4+tFY+QER6tHYZia9WueRxJYBLgSspThErnWcTjLWd0627OI97PM/oKnmws3+xriKXoBPC7naxT6V4PGZJN5iujtoahvgE2/xTuSsLE8MqfVueRhohD2XCwbaH9Zhc0X2mHsLTc5tYbe3vKSectwf6NNU+1y6JYzNLzOpSz3YAVfbXne0N0kAZH2j6tC8k2m60R+4mnE/DG1nQoQ4CpRvMZv1qhnEXS1ZAlGgEC2/4P13Y86VBcNJqmMHQuYltTnEPnDJ/ZcQ1+81HOYQZycFw4++P/yTnt4NdUfoO1wuXxEIFyRJcge1do=
